include README.md
include LICENSE
include CHANGES.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile *.jpg *.png *.gif *.js *.css *.html
prune docs/_build
